.edit_error_class {
  display: block;
  color: red;
}

body

{
	background-color: #CCCCCC;

}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;

}

/*SIDEBAR SECTION*/

.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:0px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:0px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #ccc;
}

/*END SIDEBAR SECTION*/

/*MENU SECTION*/

.menu {
	border-bottom : 1px solid #ccc;
	padding-bottom : 19px;
	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	width:100%;
	padding:0 0 1.75em 1em;
	margin:0;
	list-style:none;
	line-height:1em;

	word-spacing: normal;
	letter-spacing: normal;
	text-transform: capitalize;
	text-align: left;


}

.menu ul {
	display : inline;
	list-style-type : none;		
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0.25em 0.25em 0.25em 1em;
	list-style:none;
	border-top:1px solid #fff;


}

.menu li {
	display : inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	padding-bottom : 2px;
	padding-left : 10px;
	padding-right: 2px;

}

.menu li a{
    /*Text in menu*/
    text-decoration: none;
    color:#3E3C3C;
}

.menu a {
	padding: 0 0px 0px 0px;
        text-decoration: none;

}

.menu ul li a:hover {
	color : #FFFFFF;

}

/*END MENU SECTION*/

/*TAB SECTION*/

.tab {
    border:2px inset;
    border-radius:25px;
    background-color: #6666FF;
}

.tab ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.tab ul li {
    border:1px solid;
    border-radius:5px;
    background-color: #9999FF;
}

/*END TAB SECTION*/

/*MESSAGE CONTROL*/

.messagecontrol {
    background-color: #FFFFFF;
}

.messagecontrol td {
	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
    border:1px solid #ccc;
    border-bottom:none;

}

.selected {
    background:#ccc;
}

/*END MESSAGE CONTROL*/